.workGrid {
  padding: 0!important;
  margin:  0!important;
}

body {
  background-color: white!important;
}

#skillsBar {
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 100px;

}

h5{
  color: #333 !important;
}
span {
  color:#333 !important;
}

#workContainer {
  margin: 0;
  width: 100%;
  padding-bottom: 0px;
}

#footer {
  background-color: white!important;
}
/*#experienceContainer {
padding-left: 0px;
padding-right: 0px;
}*/



#back2 {
  height:60vh;
}

#about {
  background-image: url('background.jpg');
}


.social-icons2 {
  width: 40px;
  height 40px;
  font-size: 16px;
  color: #63656d;
  list-style: none;
}

.nopadding {
  padding: 0 !important;
}


.col-sm-12 {
  padding: 0!important;
}

#viewWeb {
  font-size: 13px !important;
}

#close {
  font-size: 17px !important;
}
